{
	"parser": "vue-eslint-parser",
	"extends": [
		"@nuxtjs/eslint-config-typescript",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/recommended",
		"prettier",
	],
	"plugins": ["prettier", "vue"],
	"rules": {
		// "@typescript-eslint/explicit-function-return-type": ["error"],
		"lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
		"space-before-function-paren": "off", //["error"],
		"no-console": "off",
		"no-debugger": "off",
		"prettier/prettier": ["error", { "endOfLine": "auto" }],
		"no-return-assign": "off",
		"no-tabs": "off",
		"import/order": "off",
		"import/no-named-as-default": "off",
		"no-unused-expressions": "off",
		"vue/no-v-html": "off",
		"vue/v-on-event-hyphenation": "off",
		"vue/custom-event-name-casing": "off",
		"vue/no-v-model-argument": "off",
		"vue/no-template-shadow": "off",
		"vue/multi-word-component-names": "off",
		"vue/no-reserved-component-names": "off",
		"vue/no-undef": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/ban-types": "off",
	},
}
